<header>
  <ul class = "header">
    <li><%= link_to image_tag("favicon.png",class:"closet-icon"),root_path %></li>
    <li><%= link_to '服登録', new_item_path, class:"closet-new" %></li>
  </ul>
</header>