<%= render "shared/header" %>

<div class = "item-index">
  <ul class='item-lists'>

    <% @item.each do |item| %>
    <li class = "list">

      <%= link_to item_path(item.id) do %>

        <%= image_tag item.image, class:"item-img" %>
      <% end %>
      </li>
    <% end %>
  </ul>
</div>

