<%= render "shared/header" %>

<ul class='item-lists'>

  <% @item.each do |item| %>
  <li class = "list">

    <%= link_to item_path(item.id) do %>

      <%= image_tag item.image, class:"item-img" %>
    <% end %>
    </li>
  <% end %>
</ul>

